<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Erlangga Airlines</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Erlangga Airlines</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Flight", "Index", "Flight")</li>
                    <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--
                    @Html.Partial("_LoginPartial")
                -->
        </div>
    </div>

    <div class="container" style="padding-top: 80px">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <!-- /.container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
