@model FlyHigh.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h1>Schedule</h1>

<fieldset>
    <legend>Schedule Details</legend>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Flight.FlightId)</strong>
        </div>
        <div class="col-md-10">
            @Html.ActionLink(Model.FlightId.ToString(), "Details", "Flight", new { id = Model.FlightId }, null)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Flight.FromAirport)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Flight.FromAirport.AirportCode)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Flight.ToAirport)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Flight.ToAirport.AirportCode)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.DepartureTime)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.ArrivalTime)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Flight.Duration)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Flight.Duration) minutes
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Plane.PlaneId)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Plane.PlaneId)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Plane.PlaneType)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Plane.PlaneType)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", "Schedule", new { id = Model.ScheduleId }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Back to List", "Index", "Schedule", null, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
</fieldset>
