@model FlyHigh.Models.Schedule

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Schedule", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Schedule</legend>

        @Html.HiddenFor(model => model.ScheduleId)

        <div class="form-group">
            @Html.LabelFor(model => model.FlightId, "Flight", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("FlightId", (IEnumerable<SelectListItem>)ViewBag.FlightId, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.FlightId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaneId, "Plane", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("PlaneId", (IEnumerable<SelectListItem>)ViewBag.PlaneId, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.PlaneId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success btn-sm" type="submit" value="Save">
                @Html.ActionLink("Back to List", "Index", "Schedule", new { @class = "btn btn-default btn-sm" })
            </div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
