@model FlyHigh.Models.StewardSchedule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StewardSchedule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleId, "Schedule")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ScheduleId", ViewBag.ScheduleId as SelectList, "Select...", new { onchange = "FetchStewards();" })
        </div>

        <p data-bind="visible: stewards().length > 0">
            <b>Steward</b>
            <select id="StewardId" name="StewardId" data-bind="options: stewards, optionsText: 'StewardName', optionsValue: 'StewardId', optionsCaption: 'Select...'"></select>
        </p>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsHead)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsHead)
            @Html.ValidationMessageFor(model => model.IsHead)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/stewardschedule")
}
