@model FlyHigh.Models.StewardSchedule

@{
    ViewBag.Title = "Delete";
}

<fieldset>
    <legend>Delete Steward Schedule</legend>
    <h2>Are you sure you want to delete this?</h2>

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Steward.StewardName)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Steward.StewardName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Schedule.ScheduleId)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Schedule.ScheduleId)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.IsHead)</b>
        </div>
        <div class="col-md-8">
                @Html.DisplayFor(model => model.IsHead)
        </div>
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <div class="row"></div>
        <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
        @Html.ActionLink("Back to List", "Index", "StewardSchedule", new { @class = "btn btn-default btn-sm" })
    </p>
}
