@model FlyHigh.Models.StewardSchedule

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Steward Schedule Details</legend>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Steward.StewardName)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Steward.StewardName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Schedule.ScheduleId)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Schedule.ScheduleId)
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.IsHead)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.IsHead)
        </div>
    </div>
</fieldset>
<p>

    <div class="row"></div>
    @Html.ActionLink("Edit", "Edit", "StewardSchedule", new { id = Model.StewardScheduleId }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Back to List", "Index", "StewardSchedule", new { @class = "btn btn-default btn-sm" })
</p>
