@model FlyHigh.Models.PilotSchedule

@{
    ViewBag.Title = "Create";
}

<h1>Pilot Schedule</h1>

@using (Html.BeginForm("Create", "PilotSchedule", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Pilot Schedule</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleId, "Schedule", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("ScheduleId", ViewBag.ScheduleId as SelectList, "Select...", new { @class = "form-control input-sm", onchange = "FetchPilots();" })
            </div>
        </div>

        <div class="form-group" data-bind="visible: pilots().length > 0">
            @Html.LabelFor(model => model.Pilot.PilotName, "Pilot Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select class = "form-control input-sm" id="PilotId" name="PilotId" data-bind="options: pilots, optionsText: 'PilotName', optionsValue: 'PilotId', optionsCaption: 'Select...'"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsHead)
                    @Html.LabelFor(model => model.IsHead, "Pilot Captain", new { @class = "checkbox" })
                    @Html.ValidationMessageFor(model => model.IsHead)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success btn-sm" type="submit" value="Create" />
                @Html.ActionLink("Back to List", "Index", "PilotSchedule", new { @class = "btn btn-default btn-sm" })
            </div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pilotschedule")
}
