@model FlyHigh.Models.PilotSchedule

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PilotSchedule</legend>

        @Html.HiddenFor(model => model.PilotScheduleId)

        <div class="editor-label">
            @Html.LabelFor(model => model.PilotId, "Pilot")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PilotId", String.Empty)
            @Html.ValidationMessageFor(model => model.PilotId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleId, "Schedule")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ScheduleId", String.Empty)
            @Html.ValidationMessageFor(model => model.ScheduleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsHead)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsHead)
            @Html.ValidationMessageFor(model => model.IsHead)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
