@model FlyHigh.Models.PilotSchedule

@{
    ViewBag.Title = "Edit";
}

<h1>Pilot Schedule</h1>

@using (Html.BeginForm("Edit", "PilotSchedule", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Pilot Schedule</legend>

        @Html.HiddenFor(model => model.PilotScheduleId)

        <div class="form-group">
            @Html.LabelFor(model => model.PilotId, "Pilot", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.DropDownList("PilotId", ViewBag.PilotName as SelectList, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.PilotId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleId, "Schedule Id", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.DropDownList("ScheduleId", ViewBag.ScheduleId as SelectList, new { @class = "form-control input-sm", onchange = "FetchPilots();" })
                @Html.ValidationMessageFor(model => model.ScheduleId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsHead, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsHead, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.IsHead)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input class="btn btn-success btn-sm" type="submit" value="Save">
                @Html.ActionLink("Back to List", "Index", "PilotSchedule", null, new { @class = "btn btn-default btn-sm" })
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
