@model IEnumerable<FlyHigh.Models.PilotSchedule>

@{
    ViewBag.Title = "Index";
}

<h2>Pilot Schedule</h2>

<p>
    @Html.ActionLink("Create New", "Create", "PilotSchedule", new { @class="btn btn-success btn-xs"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pilot.PilotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.ScheduleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pilot.PilotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.ScheduleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHead)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Edit", "Edit", new { id=item.PilotScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PilotScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PilotScheduleId })
=======
            @Html.ActionLink("Edit", "Edit", new { pilotId = item.PilotId, scheduleId = item.ScheduleId }, new {@class="btn btn-default btn-xs" })
            @Html.ActionLink("Details", "Details", new { id = item.PilotId }, new {@class="btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id = item.PilotId }, new {@class="btn btn-danger btn-xs" })
>>>>>>> 26ee06652ae592251d0977ebbd29be3908d00a2b
        </td>
    </tr>
}

</table>
