@model FlyHigh.Models.Flight

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Flight Details</legend>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.FromAirport)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FromAirport.AirportCode)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.ToAirport)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.ToAirport.AirportCode)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Departure)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Departure)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Duration)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Duration)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.BasePrice)</b>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.BasePrice)
        </div>
    </div>
</fieldset>
<p>
    <div class="row"></div>
    @Html.ActionLink("Edit", "Edit", "Flight", new { id = Model.FlightId }, new { @class="btn btn-primary btn-sm"})
    @Html.ActionLink("Back to List", "Index", "Flight", new { @class="btn btn-default btn-sm"})
</p>
