@model IEnumerable<FlyHigh.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h1>Flight</h1>

<p>
    @Html.ActionLink("Create New Flight", "Create", "Flight", null, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAirport.AirportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAirport.AirportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlightId }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Details", "Details", new { id = item.FlightId }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.FlightId }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
